
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

html, body { 
    margin: 0; 
    padding: 0; 
    font-family: 'Spartan', sans-serif;
}
#app{
    display: flex;
    flex-direction: row;
}
