#paper {
    margin: auto;
    width: 800px;
    display: block;
    position: relative;
    border: 1px solid #d3d3d3;
    background-size: 20px 20px;
    background-color: #a6b1e1;
    background-image: linear-gradient(90deg,rgba(255, 255, 255, 0.2) 1px, transparent 0px), linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 0px);
}

.link-tools .tool-options {
    display: none;
}
